<h1>Aplicaciones</h1>
<% formNewEdit||= "Default" %>
<h1 class="text-center">  <%= formNewEdit %> Category </h1>
<%= form_for @category , method: (formNewEdit.downcase == 'edit' ? 'put' : 'post') do |f| %>
  <% if @category.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@category.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <div class="form-group">
    <%= f.label :name%>
    <%= f.text_field :name, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :descripción%>
    <%= f.text_field :descripcion, class: "form-control"%>
  </div>
  <%= f.submit "#{formNewEdit} Category", class: "btn btn-primary" %>
  <!-- <a href="<%= airports_path %>" class="btn btn-default"> View all </a> -->
<% end %>
